
desktop.ini
/61030006/WindowsFormsApp1/.vs/WindowsFormsApp1/v16/Server/sqlite3/db.lock
/61030006/SumTwoNumbers/.vs/SumTwoNumbers/v16/Server/sqlite3/db.lock
/61030006/folderBrowser/.vs/folderBrowser/v16/Server/sqlite3/db.lock
/61030006/colorDialog/.vs/colorDialog/v16/Server/sqlite3/db.lock
